<!-- Side Structure -->
<template>
  <div class="sidebar" :class="sidebarFilter">
        <v-toolbar flat class="transparent scroll-area navigation">
          <v-list class="pa-0">
            <v-list-tile avatar class="sidebar-profile">
              <v-list-tile-avatar>
                <img src="/static/img/user-11.jpg" />
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title class="fw-bold">John Leider</v-list-tile-title>
              </v-list-tile-content>
              <v-spacer></v-spacer>
              <v-menu bottom left>
                <v-btn icon slot="activator" dark class="ma-0">
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile>
                    <v-icon class="mr-3 font-lg text-gray">ti-user</v-icon>
                    <v-list-tile-title>View Profile</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                    <v-icon class="mr-3 font-lg text-gray">ti-email</v-icon>
                    <v-list-tile-title>Inbox</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                    <v-icon class="mr-3 font-lg text-gray">ti-bell</v-icon>
                    <v-list-tile-title>Users List</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                    <v-icon class="mr-3 font-lg text-gray">ti-power-off</v-icon>
                    <v-list-tile-title>Log Out</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-list-tile>
            <v-list-group v-for="item in category1" :value="$route.path===item.path" :key="item.title">
              <v-list-tile ripple slot="item" v-if="item.items !== null">
                <v-list-tile-action>
                  <i :class="item.action"></i>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{ $lang.strings[item.title] }}</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-icon>keyboard_arrow_down</v-icon>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile ripple slot="item" :to="item.path" v-else>
                <v-list-tile-action>
                  <i :class="item.action"></i>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{ $lang.strings[item.title] }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile ripple v-for="subItem in item.items" v-bind:key="subItem.title" v-if="subItem !== null" :to="subItem.path">
                <v-list-tile-content>
                  <v-list-tile-title>{{ $lang.strings[subItem.title] }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
          </v-list>
        </v-toolbar>
  </div>
</template>

<script>
/* eslint-disable */
import { category1 } from "./SidebarLinks";
import EventBus from "../../lib/eventBus";
export default {
  data() {
    return {
      category1: category1,
      backgroundFilters: null,
      expandSidebar: ""
    };
  },
  computed: {
    // change the background color of the sidebar
    sidebarFilter() {
      EventBus.$on("sidebarFilters", payload => {
        this.backgroundFilters = payload;
      });
      return this.backgroundFilters;
    }
  }
};
</script>
